{;; :default profile is dev operation
 :env-config
 {:onyx/tenancy-id #profile {:default #env TENANCY_ID}
  :zookeeper/address #profile {:default #or [#env ZK_ADDRESS
                                             "127.0.0.1:2188"]
                               :prod #env ZK_ADDRESS}
  :zookeeper/server? #profile {:default true
                               :prod false}
  :zookeeper.server/port #profile {:default #long #or [#env ZK_SERVER_PORT
                                                       2188]}
  :onyx.log/config #profile {:default nil
                             :prod {:level :info}}}
 :peer-config
 {:onyx/tenancy-id #ref [:env-config :onyx/tenancy-id]
  :zookeeper/address #ref [:env-config :zookeeper/address]
  :onyx.peer/job-scheduler :onyx.job-scheduler/percentage ;; :onyx.job-scheduler/balanced
  :onyx.peer/zookeeper-timeout #long #or [#env ZK_TIMEOUT
                                          1000]
  :onyx.messaging/impl :aeron
  :onyx.messaging/bind-addr #or [#env BIND_ADDR
                                 "0.0.0.0"]
  :onyx.messaging/peer-port #long #or [#env PEER_PORT
                                       40200]
  :onyx.messaging.aeron/embedded-driver? #profile {:default true
                                                   :prod false}
  :onyx.log/config #profile {:default nil
                             :prod {:level :info}}
  :onyx.query/server? true
  :onyx.query.server/ip #or [#env SERVER_IP
                             "0.0.0.0"]
  :onyx.query.server/port #long #or [#env SERVER_PORT
                                     8888] ;; port change so it isn't the same as dev lrs
  ;; don't allow short circuit locally so we know what breaks in prod
  :onyx.messaging/allow-short-circuit? #profile {:default false
                                                 :prod true}
  :onyx.peer/storage #keyword #or [#env PEER_STORAGE
                          :zookeeper]
  :onyx.peer/storage.s3.bucket #env PEER_STORAGE_BUCKET
  :onyx.peer/storage.s3.region #or [#env AWS_REGION
                                    "us-east-1"]
  :onyx.peer/storage.s3.prefix #or [#env PEER_STORAGE_PREFIX
                                    #profile {:default "onyx_dev/"
                                              }]
  ;; Aeron max term buffer size
  :onyx.messaging/term-buffer-size.segment 16777216

  ;; :onyx.peer/coordinator-barrier-period-ms 5000

  :onyx.peer/storage.timeout #long #or [#env PEER_STORAGE_TIMEOUT
                                        120000]
  ;; need this or constant timeout
  :onyx.peer/storage.s3.accelerate? #boolean #or [#env PEER_STORAGE_ACCELERATION
                                                  "false"]

  }
 :launch-config
 {:n-vpeers #long #or [#env N_VPEERS
                       12]}}
