name: CD

on:
  push:
    branches:
      - '*'
    tags:
      - 'v*.*.*' # Enforce Semantic Versioning

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout Repository
      uses: actions/checkout@v3

    - name: Setup CI environment
      uses: yetanalytics/actions/setup-env@v0.0.4

    - name: Build Bundle
      run: make bundle

    # Build docker for PR, tags
    - name: Extract metadata (tags, labels) for Docker
      id: meta
      uses: docker/metadata-action@v3
      with:
        images: yetanalytics/datasim
        tags: |
          type=ref,event=branch
          type=ref,event=pr
          type=semver,pattern={{version}}
          type=semver,pattern={{major}}.{{minor}}

    - name: Log in to Docker Hub
      uses: docker/login-action@v1
      with:
        username: ${{ secrets.DOCKERHUB_USERNAME }}
        password: ${{ secrets.DOCKERHUB_CI_TOKEN }}

    - name: Build and push Docker image
      uses: docker/build-push-action@v2
      with:
        context: .
        push: true
        tags: ${{ steps.meta.outputs.tags }}
        labels: ${{ steps.meta.outputs.labels }}

    - name: Compress Bundle
      run: | # Need to cd so that the zip file doesn't contain the parent dirs
        cd target/bundle
        zip -r ../../datasim-bundle.zip ./

    - name: Archive Bundle
      uses: actions/upload-artifact@v3
      with:
        name: datasim-bundle-artifact-${{ github.sha }}
        path: datasim-bundle.zip

  deploy:
    runs-on: ubuntu-latest

    if: ${{ github.ref_type == 'tag' }}

    steps:
    - name: Checkout Repository
      uses: actions/checkout@v3

    - name: Setup CI environment
      uses: yetanalytics/actions/setup-env@v0.0.4

    - name: Extract version
      id: version
      run: version=${GITHUB_REF#refs\/tags\/v} >> $GITHUB_OUTPUT

    - name: Build and deploy to Clojars
      uses: yetanalytics/actions/deploy-clojars@v0.0.4
      with:
        artifact-id: 'datasim'
        version: ${{ steps.version.outputs.version }}
        resource-dirs: '[]'
        clojars-username: ${{ secrets.CLOJARS_USERNAME }}
        clojars-deploy-token: ${{ secrets.CLOJARS_PASSWORD }}
